root = true
[*.cs]
# Don't use "var" - warning
csharp_style_var_for_built_in_types = false:suggestion
# Use object initializer and collection initializer
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:error
